@use 'colors' as *

.Comments
    display: grid
    align-content: start
    gap: 1rem
    color: $grayish_blue

.Comment
    display: grid
    gap: 1rem
    align-items: center
    background: white
    padding: 1rem
    border-radius: 10px
    height: fit-content
    transition: opacity 250ms linear

.Info
    display: grid
    grid-template-columns: repeat(3, min-content)
    align-items: center
    gap: 1rem

.Avatar
    grid-row: 1
    height: 2rem

.Username
    grid-row: 1
    font-weight: 500
    color: $dark_blue

.Time
    width: max-content

.Content
    line-height: 1.5

.Actions
    display: grid
    grid-auto-flow: column
    justify-content: space-between
    color: $moderate_blue
    font-size: medium

    .Likes
        display: grid
        grid-auto-flow: column
        align-items: center
        gap: 0.25rem
        background: $very_light_gray
        border-radius: 10px
        font-weight: 500

        p
            animation: 500ms linear infinite

        img
            padding: .75rem

    .Edit
        display: grid
        gap: 0.5rem
        grid-auto-flow: column

        button:first-of-type
            color: $soft_red

    .Button
        display: grid
        grid-auto-flow: column
        align-items: center
        gap: 8px
        background: none
        border: none
        font-size: inherit
        font-weight: 600
        color: inherit

.Replies
    @extend .Comments
    border-left: 3px solid $light_gray
    padding-left: 1rem

@keyframes pop
    0%
        transform: scale(1)
    50%
        transform: scale(1.75)
        