@use 'colors' as *
@use 'utils' as *

.Compose
    display: grid
    background: white
    padding: 1rem
    border-radius: 10px
    grid-template-columns: repeat(2, minmax(0, 1fr))
    gap: 1rem
    align-items: center
    max-width: 43.75rem
    width: 100%
    justify-self: center
    transition: opacity 100ms linear
    animation: slide-down 200ms linear
    transform-origin: top

    textarea
        padding: 0.8rem 1.2rem
        resize: none
        font-size: inherit
        font-family: inherit
        min-height: 6rem
        border-radius: 5px
        border: 2px solid $light_gray
        grid-column: 1 / span 2
        line-height: 1.5
        @include scrollbar()

        &:hover
            cursor: pointer

        &:focus
            outline: 1px solid $moderate_blue

        &::selection
            background: $dark_blue
            color: white

        @include width(640)
            grid-column: 2

    .User
        width: 2rem

        @include width(640)
            grid-column: 1

    button
        width: fit-content
        background: $moderate_blue
        padding: 1rem 2rem
        border-radius: 10px
        color: white
        text-transform: uppercase
        font-weight: 500
        font-family: inherit
        font-size: 1rem
        transition: opacity 100ms linear
        justify-self: end
        
        &:hover
            cursor: pointer
            opacity: 0.5

        @include width(640)
            grid-column: 3

    @include width(640)
        padding: 1.25rem
        grid-template-columns: min-content auto min-content
        align-items: start

        *
            grid-row: 1

.Invalid, .Invalid:focus
    outline: 2px solid red !important
    animation: shake 100ms linear 3
        

@keyframes shake
    0%
        transform: translateX(1%)
    25%, 75%
        transform: translateX(-1%)

@keyframes slide-down
    0%
        opacity: 0
        transform: scaleY(0%)
    50%
        transform: scale(110%)
    100%
        opacity: 1
        transform: scale(100%)